.admin-area {
    background: rgb(49, 48, 48);
    color: white;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
  }
  .admin-menu:hover {
    color:goldenrod;
  }